Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
    - PROTOC_VERSION=24.3
    - PROTOC_GEN_VERSION=v1.31.0
    - PROTOC_GRPC_VERSION=v1.3.0
    - PROTOC_ZIP=protoc-$PROTOC_VERSION-linux-x86_64.zip
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make docker_users
  secrets:
  - name: docker_hub

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make docker_things
  secrets:
  - name: docker_hub

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make docker_coap
  secrets:
  - name: docker_hub

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/http:latest
  secrets:
  - name: docker_hub

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/mqtt:latest
  secrets:
  - name: docker_hub

Build WS:
  jobs:
  - name: Build WS
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/ws:latest
  secrets:
  - name: docker_hub

fix(tests): update sdk tests with domains
  cli/things.go
  cli/users.go
  pkg/clients/clients.go
  pkg/clients/postgres/clients.go
  pkg/clients/status.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/sdk.go
  pkg/sdk/go/things.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/users.go
  pkg/sdk/go/users_test.go
  things/mocks/clients.go
  things/service.go
  things/service_test.go
  users/api/clients.go
  users/mocks/clients.go
  users/service.go
  users/service_test.go
Due: Lint and Test PKG

feat(auth): Add invitation key generation
  auth/service.go
Due: none

remove interactive build
  .github/workflows/ci.yml
Due: none

Add subroutes
  auth/api/http/keys/transport.go
  auth/api/http/policies/transport.go
Due: none

Update auth service
  auth/api/http/domains/transport.go
  auth/api/http/policies/transport.go
Due: none

update bootstrap
  bootstrap/api/transport.go
Due: none

Migrate from bone to chi
  auth/api/http/policies/transport.go
  auth/api/http/transport.go
  go.mod
  go.sum
Due: none

Migrate from bone to chi
  auth/api/http/transport.go
Due: none

Update multiplexer
  auth/api/http/domains/decode.go
  auth/api/http/domains/transport.go
  auth/api/http/keys/transport.go
  auth/api/http/transport.go
  bootstrap/api/transport.go
  certs/api/transport.go
  coap/api/transport.go
  consumers/notifiers/api/transport.go
  consumers/writers/api/transport.go
  http/api/transport.go
  internal/apiutil/transport.go
  lora/api/api.go
  opcua/api/transport.go
  provision/api/transport.go
  readers/api/transport.go
  twins/api/http/transport.go
  ws/api/endpoints.go
  ws/api/transport.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal

Refactor user and things handler
  things/api/http/channels.go
  things/api/http/clients.go
  things/api/http/transport.go
  users/api/clients.go
  users/api/groups.go
  users/api/transport.go
Due: none

add: comments
  auth/postgres/domains.go
Due: none

restructure files
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/checkproto.yml
  .github/workflows/ci.yml
Due: none

fix proto version
  .github/workflows/checkproto.yml
Due: none

remove build.yml
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

change name of ci workflow
  .github/workflows/check-proto.yml
  .github/workflows/ci.yml
  .github/workflows/swagger-ui.yaml
Due: none

feat: add retrieve users by name
  pkg/clients/postgres/clients.go
  users/mocks/clients.go
  users/postgres/clients.go
  users/postgres/clients_test.go
Due: Lint and Test PKG

feat: API layer for search
  users/api/clients.go
  users/api/endpoints.go
  users/api/logging.go
  users/api/metrics.go
  users/api/requests.go
  users/clients.go
  users/events/events.go
  users/events/streams.go
  users/service.go
  users/tracing/tracing.go
Due: none

add back docker login
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: policies error handling
  auth/service.go
  auth/spicedb/policies.go
Due: none

Update GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: Update env vars for events store
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Makefile
  cmd/bootstrap/main.go
  cmd/lora/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/things/main.go
  cmd/twins/main.go
  cmd/users/main.go
  docker/.env
  docker/addons/bootstrap/docker-compose.yml
  docker/addons/lora-adapter/docker-compose.yml
  docker/addons/opcua-adapter/docker-compose.yml
  docker/addons/twins/docker-compose.yml
  docker/docker-compose.yml
  scripts/ci.sh
Due: none

chore: Update go.mod and go.sum files
  go.mod
  go.sum
Due: none

add: list permissions
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/requests.go
  auth/api/grpc/responses.go
  auth/api/grpc/server.go
  auth/api/logging.go
  auth/api/metrics.go
  auth/mocks/auth.go
  auth/mocks/service.go
  auth/policies.go
  auth/service.go
  auth/spicedb/policies.go
  auth/tracing/tracing.go
  auth_grpc.pb.go
  cmd/auth/main.go
  cmd/test/main.go
  cmd/test2/main.go
  internal/api/common.go
  internal/groups/api/decode.go
  internal/groups/service.go
  pkg/clients/clients.go
  pkg/clients/page.go
  pkg/groups/groups.go
  things/api/http/clients.go
  things/api/http/endpoints.go
  things/api/http/requests.go
  things/service.go
  things/standalone/standalone.go
Due: Lint and Test Internal, Lint and Test PKG

remove test files
  cmd/test/main.go
  cmd/test2/main.go
Due: none

add: retrieve entites permissions endpoint and service
  internal/groups/api/decode.go
  internal/groups/api/endpoints.go
  internal/groups/api/logging.go
  internal/groups/api/metrics.go
  internal/groups/api/requests.go
  internal/groups/api/responses.go
  internal/groups/events/events.go
  internal/groups/events/streams.go
  internal/groups/service.go
  internal/groups/tracing/tracing.go
  pkg/groups/groups.go
  things/api/http/channels.go
  things/api/http/clients.go
  things/api/http/endpoints.go
  things/api/http/requests.go
  things/api/http/responses.go
  things/api/logging.go
  things/api/metrics.go
  things/events/events.go
  things/events/streams.go
  things/service.go
  things/things.go
  things/tracing/tracing.go
  users/api/groups.go
Due: Lint and Test Internal, Lint and Test PKG

changed to errgroup
  auth.proto
  auth/api/grpc/endpoint.go
  auth/spicedb/policies.go
  internal/groups/service.go
  things/service.go
Due: Lint and Test Internal

rollback grpc encoder decoder to standard
  auth/api/grpc/client.go
Due: none

fix: list permissions grpc types
  auth/api/grpc/client.go
Due: none

fix: loop varaible captured in func literal
  internal/groups/service.go
  things/service.go
Due: Lint and Test Internal

remove: UpdateClientOwner from things service
  api/openapi/things.yml
  things/api/logging.go
  things/api/metrics.go
  things/events/streams.go
  things/mocks/clients.go
  things/service.go
  things/service_test.go
  things/things.go
  things/tracing/tracing.go
Due: none

fix: add user to have dual relationship to platform, so for update role just add or remove admin relation
  users/service.go
Due: none

fix: user role update, listing and retrieve
  api/openapi/users.yml
  pkg/clients/postgres/clients.go
  things/mocks/clients.go
  users/postgres/clients.go
Due: Lint and Test PKG

add: users permission sdk
  api/openapi/users.yml
  pkg/sdk/go/channels.go
  pkg/sdk/go/groups.go
  pkg/sdk/go/sdk.go
  pkg/sdk/go/things.go
Due: Lint and Test PKG

fix: grammer
  api/openapi/users.yml
Due: none

Fix users tests
  pkg/errors/service/types.go
  users/service_test.go
Due: Lint and Test PKG

Fix tests
  auth/service_test.go
Due: none

Fix failing tests
  auth/service_test.go
  bootstrap/service_test.go
  certs/service_test.go
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
  things/service_test.go
  twins/service.go
  twins/service_test.go
  users/service_test.go
Due: Lint and Test PKG

fix ci
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README.md
Due: none

add status badge
  .github/workflows/ci.yml
  README.md
Due: none

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
