Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

add: sdk, sdk_tet, cli
  cli/channels.go
  cli/groups.go
  internal/groups/mocks/groups.go
  pkg/sdk/go/channels.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/sdk.go
  pkg/sdk/mocks/sdk.go
Due: Lint and Test Internal, Lint and Test PKG

fix: sdk mock
  pkg/sdk/mocks/sdk.go
Due: Lint and Test PKG

mockery
  pkg/sdk/mocks/sdk.go
Due: Lint and Test PKG

convert to inline case
  cli/channels.go
  cli/groups.go
Due: none

change in group delete flow
  internal/groups/service.go
Due: Lint and Test Internal

remove ci pipeline
  README.md
Due: none

change return error in delete
  internal/groups/postgres/groups.go
  pkg/sdk/go/groups_test.go
Due: Lint and Test Internal, Lint and Test PKG

add: openapi
  api/openapi/things.yml
Due: none

rename events: from channel delete to channel remove
  bootstrap/events/consumer/streams.go
  internal/groups/events/events.go
  lora/events/streams.go
  opcua/events/streams.go
Due: Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal

fix: handle database errors in svc
  auth/service.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service.go
  things/service.go
  users/service.go
Due: none

fix: remove failing test to implemented later
  auth/api/grpc/endpoint_test.go
Due: none

remove coverage.html generation
  .github/workflows/build.yml
  .github/workflows/tests.yml
Due: none

fix: add descriptive error to postgres errors
  auth/service.go
  internal/postgres/errors.go
  pkg/clients/postgres/clients.go
Due: Lint and Test Internal, Lint and Test PKG

Generate things repository mocks
  .github/workflows/check-generated-files.yml
  pkg/sdk/go/certs_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/setup_test.go
  pkg/sdk/go/things_test.go
  things/mocks/auth.go
  things/mocks/clients.go
  things/postgres/clients.go
  things/postgres/mocks.go
  things/service_test.go
Due: Lint and Test PKG

Generate things cache mocks
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/things_test.go
  things/mocks/mocks.go
  things/mocks/things.go
  things/service_test.go
  things/things.go
Due: Lint and Test PKG

Change output dir for generated mocks
  .github/workflows/check-generated-files.yml
  pkg/sdk/go/certs_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/health_test.go
  pkg/sdk/go/things_test.go
  things/mocks/cache.go
  things/mocks/repository.go
  things/postgres/clients.go
  things/service_test.go
  things/things.go
Due: Lint and Test PKG

rename factory methods
  pkg/sdk/go/certs_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/consumers_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/health_test.go
  pkg/sdk/go/message_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/tokens_test.go
  pkg/sdk/go/users_test.go
Due: Lint and Test PKG

Fix failing test
  pkg/sdk/go/things_test.go
  pkg/sdk/go/users_test.go
Due: Lint and Test PKG

add: delete function in things interface
  things/things.go
Due: none

add: remove things
  things/api/logging.go
  things/api/metrics.go
  things/events/events.go
  things/events/streams.go
  things/mocks/clients.go
  things/postgres/clients.go
  things/service.go
  things/tracing/tracing.go
Due: none

fix: things event streams
  bootstrap/events/consumer/streams.go
  lora/events/streams.go
  opcua/events/streams.go
Due: Lint and Test OPC-UA, Build OPC-UA

add: things delete test
  things/postgres/clients_test.go
  things/service_test.go
Due: none

add: delete thing sdk, sdk_test, cli
  cli/things.go
  pkg/sdk/go/sdk.go
  pkg/sdk/go/things.go
  pkg/sdk/go/things_test.go
  pkg/sdk/mocks/sdk.go
Due: Lint and Test PKG

add: delete thing http transport
  things/api/http/clients.go
  things/api/http/endpoints.go
  things/api/http/requests.go
  things/api/http/responses.go
  things/service.go
Due: none

gofumpt -ed
  things/service.go
Due: none

fix: things change status response
  things/api/http/responses.go
Due: none

rename events: from thing delete to thing remove
  bootstrap/events/consumer/streams.go
  lora/events/streams.go
  opcua/events/streams.go
  things/events/events.go
  things/events/streams.go
Due: Lint and Test OPC-UA, Build OPC-UA

fix wordings
  pkg/sdk/go/sdk.go
  things/api/http/endpoints.go
  things/api/http/responses.go
  things/postgres/clients.go
  things/things.go
Due: Lint and Test PKG

add: type check
  things/api/http/responses.go
  things/events/events.go
  things/service.go
Due: none

fix wordings in openapi
  api/openapi/things.yml
Due: none

update open api yaml
  api/openapi/things.yml
  api/openapi/users.yml
Due: none

fix things mocks
  pkg/sdk/go/things_test.go
  things/mocks/clients.go
  things/mocks/repository.go
  things/service_test.go
Due: Lint and Test PKG

update pkg coverage
  .github/workflows/tests.yml
Due: none

Test for parsing and handling query parameters
  internal/apiutil/token_test.go
  internal/apiutil/transport.go
  internal/apiutil/transport_test.go
Due: Lint and Test Internal

replace ReadUintQuery with ReadNumQuery
  bootstrap/api/transport.go
  certs/api/transport.go
  consumers/notifiers/api/transport.go
  internal/apiutil/transport.go
  internal/apiutil/transport_test.go
  readers/api/transport.go
  twins/api/http/transport.go
Due: Lint and Test Readers, Lint and Test Internal

Generate auth mocks
  .github/workflows/check-generated-files.yml
  auth/api/grpc/setup_test.go
  auth/api/http/keys/endpoint_test.go
  auth/domains.go
  auth/keys.go
  auth/mocks/agent.go
  auth/mocks/auth.go
  auth/mocks/authz.go
  auth/mocks/domains.go
  auth/mocks/keys.go
  auth/policies.go
  auth/service_test.go
Due: none

block disable domain login
  auth/api/http/domains/decode.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/requests.go
  auth/domains.go
  auth/postgres/domains.go
  auth/service.go
Due: none

add: domain status custom json marshal and unmarshal
  auth/domains.go
Due: none
