Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

remove branch from docker project
  Makefile
Due: none

add: policy preconditions
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/requests.go
  auth/api/grpc/server.go
  auth/api/http/domains/decode.go
  auth/mocks/service.go
  auth/policies.go
  auth/postgres/domains.go
  auth/service.go
  auth/spicedb/policies.go
  docker/docker-compose.yml
  docker/spicedb/schema.zed
  http/api/endpoint_test.go
  internal/groups/api/endpoints.go
  internal/groups/api/logging.go
  internal/groups/api/metrics.go
  internal/groups/events/streams.go
  internal/groups/service.go
  internal/groups/tracing/tracing.go
  internal/testsutil/common.go
  pkg/groups/groups.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/message_test.go
  pkg/sdk/go/users_test.go
  things/api/http/channels.go
  things/service.go
  users/api/groups.go
  users/postgres/clients_test.go
  users/service.go
  users/service_test.go
  ws/api/endpoint_test.go
Due: Lint and Test Internal, Lint and Test PKG

feat(auth): Add invitationkey
  auth/api/grpc/requests.go
  auth/keys.go
  auth/service.go
  go.mod
  go.sum
Due: none

Update error tags
  auth/mocks/service.go
  auth/service.go
  bootstrap/api/transport.go
  bootstrap/service.go
  certs/service.go
  pkg/errors/service/types.go
  pkg/errors/types.go
  things/service.go
  things/standalone/standalone.go
  twins/service.go
  users/mocks/hasher.go
  users/service.go
Due: Lint and Test PKG

Remove repo error checks in transport layer
  bootstrap/api/transport.go
  certs/api/transport.go
  http/api/transport.go
  things/api/grpc/server.go
  twins/api/http/transport.go
Due: none

fix documentation
  docker/brokers/profiles/README.md
Due: none

fix: policy preconditions
  auth/spicedb/policies.go
  internal/groups/mocks/groups.go
  internal/groups/postgres/groups.go
  internal/groups/service.go
  pkg/groups/groups.go
  things/api/http/endpoints.go
  users/api/clients.go
  users/api/groups.go
  users/api/requests.go
Due: Lint and Test Internal, Lint and Test PKG

fix: comments
  auth/api/http/policies/endpoint.go
  auth/api/http/policies/endpoint_test.go
  auth/api/logging.go
  auth/policies.go
  auth/postgres/domains.go
  auth/postgres/init.go
  auth/service_test.go
  auth/spicedb/policies.go
  docker/docker-compose.yml
  internal/groups/api/logging.go
  internal/groups/api/metrics.go
  internal/groups/events/streams.go
  internal/groups/service.go
  internal/groups/tracing/tracing.go
  pkg/groups/groups.go
Due: Lint and Test Internal, Lint and Test PKG

fix: extract errors
  auth/service.go
  auth/spicedb/policies.go
  internal/groups/service.go
Due: Lint and Test Internal

fix: remove todo
  auth.pb.go
  auth.proto
  auth/service.go
  internal/groups/service.go
Due: Lint and Test Internal

refactor(env): Remove internal env package
  cmd/auth/main.go
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/provision/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  docker/.env
  docker/docker-compose.yml
  go.mod
  go.sum
  internal/clients/cassandra/cassandra.go
  internal/clients/grpc/auth/client.go
  internal/clients/influxdb/influxdb.go
  internal/clients/jaeger/provider.go
  internal/clients/mongo/mongo.go
  internal/clients/postgres/postgres.go
  internal/env/doc.go
  internal/env/parser.go
  internal/env/parser_test.go
Due: Lint and Test Internal

build(Makefile): Fix DOCKER_PROJECT variable assignment
  Makefile
Due: none

feat(auth): Export auth setup
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/mongodb-reader/main.go
  cmd/mqtt/main.go
  cmd/postgres-reader/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  internal/clients/grpc/auth/client.go
  internal/clients/grpc/doc.go
  internal/close.go
  pkg/auth/client.go
  pkg/auth/connect.go
  pkg/auth/doc.go
  ws/handler.go
Due: Lint and Test Internal, Lint and Test PKG

feat(auth): Export auth setup
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/mongodb-reader/main.go
  cmd/mqtt/main.go
  cmd/postgres-reader/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  internal/clients/grpc/auth/client.go
  internal/clients/grpc/doc.go
  internal/close.go
  pkg/auth/client.go
  pkg/auth/connect.go
  pkg/auth/doc.go
  pkg/transformers/senml/message.go
  ws/handler.go
Due: Lint and Test Internal, Lint and Test PKG

feat(auth): Add support for InvitationKey in Identify function
  auth/service.go
Due: none

addressed pr comments
  auth/domains.go
  auth/mocks/domains.go
  auth/postgres/domains.go
  auth/postgres/domains_test.go
  auth/service.go
  auth/spicedb/policies.go
Due: none

remove: email from domains
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/requests.go
  auth/domains.go
  auth/postgres/domains.go
  auth/postgres/init.go
  auth/spicedb/policies.go
Due: none

rename function
  users/mocks/clients.go
  users/postgres/clients.go
  users/postgres/clients_test.go
  users/service.go
Due: none

spicedb schema remove empty lines
  docker/spicedb/schema.zed
Due: none

fix sql
  users/postgres/clients.go
Due: none

list users
  pkg/clients/clients.go
  pkg/clients/page.go
  pkg/clients/postgres/clients.go
  things/mocks/clients.go
  users/mocks/clients.go
  users/service.go
Due: Lint and Test PKG

Update opentelemetry dependencies
  go.mod
  go.sum
  internal/clients/jaeger/provider.go
Due: Lint and Test Internal

Fix error on test
  ws/adapter_test.go
Due: none

Wrap errors in things service
  pkg/errors/repository/types.go
  things/postgres/clients.go
  things/service.go
  users/postgres/clients.go
  users/service.go
Due: Lint and Test PKG

Wrap errors in users service
  users/postgres/clients.go
  users/service.go
Due: none

Remove repo errors from transport layer
  auth/api/http/keys/transport.go
  auth/api/http/policies/transport.go
  bootstrap/api/transport.go
  http/api/transport.go
  internal/groups/postgres/groups.go
  internal/postgres/errors.go
  pkg/errors/repository/types.go
  pkg/errors/types.go
  twins/api/http/transport.go
Due: Lint and Test Internal, Lint and Test PKG

Wrap errors in bootstrap
  bootstrap/service.go
  twins/service.go
Due: none

Solve merge errors
  bootstrap/api/endpoint_test.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service.go
  bootstrap/service_test.go
  certs/service_test.go
  internal/groups/api/decode.go
  internal/groups/mocks/groups.go
  internal/groups/postgres/groups.go
  pkg/clients/postgres/clients_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/message_test.go
  pkg/sdk/go/users_test.go
  things/api/http/requests.go
  things/mocks/auth.go
  things/mocks/clients.go
  things/postgres/clients.go
  things/service.go
  things/service_test.go
  twins/mongodb/twins_test.go
  users/mocks/clients.go
  users/postgres/clients.go
  users/service.go
  users/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

Wrap errors in twins
  twins/service.go
Due: none

Wrap errors in users service
  users/service.go
Due: none

Update provision
  certs/service.go
  provision/service.go
Due: none

Add service error type
  pkg/errors/service/types.go
  things/cache/things.go
  things/mocks/things.go
  things/service.go
  things/standalone/standalone.go
  users/mocks/clients.go
  users/mocks/hasher.go
  users/service.go
  users/service_test.go
Due: Lint and Test PKG

Fix users tests
  users/service_test.go
Due: none

Fix Consumers Tests
  consumers/notifiers/api/endpoint_test.go
  consumers/notifiers/mocks/notifier.go
  consumers/notifiers/service_test.go
Due: none

add: domains in auth
  auth/api/grpc/endpoint_test.go
  auth/api/http/domains/decode.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/requests.go
  auth/api/http/domains/responses.go
  auth/api/http/domains/transport.go
  auth/api/http/keys/endpoint_test.go
  auth/api/http/policies/endpoint_test.go
  auth/api/logging.go
  auth/api/metrics.go
  auth/domains.go
  auth/mocks/domains.go
  auth/policies.go
  auth/postgres/domains.go
  auth/postgres/domains_test.go
  auth/postgres/init.go
  auth/postgres/setup_test.go
  auth/service.go
  auth/service_test.go
  auth/tracing/tracing.go
  cmd/auth/main.go
  internal/api/common.go
  internal/apiutil/errors.go
Due: Lint and Test Internal

init domains
  auth/api/http/domains/decode.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/requests.go
  auth/api/http/domains/responses.go
  auth/api/http/domains/transport.go
  auth/domains.go
  auth/service.go
  auth/tracing/tracing.go
  docker/spicedb/schema.zed
Due: none
