Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

Add service layer tests
  internal/groups/mocks/groups.go
  internal/groups/service.go
  internal/groups/service_test.go
  internal/groups/status_test.go
  pkg/groups/groups.go
  pkg/groups/mocks/repository.go
  pkg/groups/mocks/service.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/users_test.go
  things/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

revert back
  auth/postgres/domains.go
Due: none

update domain status in page query builder
  auth/postgres/domains.go
Due: none

list all status domains by default
  auth/api/http/domains/decode.go
  auth/postgres/domains.go
Due: none

Update README.md to increase minimum docker-compose version
  README.md
Due: none

fix: ensure failing tests fail CI
  .github/workflows/build.yml
Due: none

fix: resolve falsely passing CI
  .github/workflows/build.yml
Due: none

remove fail fasts
  .github/workflows/build.yml
Due: none

fix: resolve comment
  .github/workflows/tests.yml
Due: none

fix: update login
  .github/workflows/build.yml
Due: none

fix: remove on PR
  .github/workflows/build.yml
Due: none

add domains openapi spec
  api/openapi/auth.yml
Due: none

fix: grammer and spelling in domain openapi spec
  api/openapi/auth.yml
Due: none

add domains openapi spec
  api/openapi/auth.yml
  api/openapi/users.yml
Due: none

rearrange switch case order
  things/api/grpc/client.go
Due: none

add things gRPC error handling
  things/api/grpc/client.go
  things/api/grpc/server.go
  things/service.go
Due: none

add things gRPC error handling
  things/api/grpc/client.go
Due: none

list entity users permissions
  auth/api/grpc/server.go
  users/api/clients.go
  users/service.go
  users/service_test.go
Due: none

fix domains update list bugs
  auth/postgres/domains.go
  auth/service.go
Due: none

Generate repository mocks and use them
  .github/workflows/check-generated-files.yml
  pkg/groups/mocks/doc.go
Due: Lint and Test PKG

Add transport layer tests for groups package
  .github/workflows/check-generated-files.yml
  internal/groups/api/decode.go
  internal/groups/api/decode_test.go
  internal/groups/api/endpoint_test.go
  internal/groups/api/endpoints.go
  internal/groups/api/requests.go
  internal/groups/api/requests_test.go
  internal/groups/api/responses.go
  pkg/groups/groups.go
Due: Lint and Test Internal, Lint and Test PKG

Add repository test
  pkg/clients/clients_test.go
  pkg/clients/page.go
  pkg/clients/postgres/clients.go
  pkg/clients/postgres/clients_test.go
  pkg/clients/roles.go
  pkg/clients/roles_test.go
  pkg/clients/status_test.go
  things/postgres/clients.go
  users/postgres/clients.go
  users/service.go
Due: Lint and Test PKG

make test cases multiline
  pkg/clients/roles_test.go
  pkg/clients/status_test.go
Due: Lint and Test PKG

change sloger to pointer
  auth/api/logging.go
  bootstrap/api/logging.go
  certs/api/logging.go
  cmd/auth/main.go
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/provision/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
  ws/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

configure users, things and certs services
  certs/api/logging.go
  certs/postgres/certs.go
  certs/postgres/setup_test.go
  cmd/certs/main.go
  cmd/things/main.go
  cmd/users/main.go
  pkg/events/nats/subscriber.go
  pkg/messaging/mqtt/pubsub.go
  pkg/messaging/nats/pubsub.go
  pkg/messaging/pubsub.go
  pkg/messaging/rabbitmq/pubsub.go
  pkg/messaging/rabbitmq/setup_test.go
  things/api/logging.go
  users/api/logging.go
Due: Lint and Test PKG

fix import
  logger/slogger.go
Due: Lint and Test Logger

resolve comments
  logger/level.go
  logger/level_test.go
  logger/slogger.go
  users/api/logging.go
Due: Lint and Test Logger

resolve comments
  bootstrap/postgres/configs_test.go
  cmd/auth/main.go
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/invitations/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/provision/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  go.mod
  logger/level.go
  logger/level_test.go
  logger/logger.go
  mqtt/handler_test.go
  pkg/messaging/mqtt/setup_test.go
  pkg/messaging/nats/setup_test.go
  pkg/messaging/rabbitmq/setup_test.go
Due: Lint and Test Logger, Lint and Test PKG

forr review
  Makefile
  auth/api/logging.go
  auth/spicedb/policies.go
  bootstrap/api/logging.go
  bootstrap/postgres/configs.go
  bootstrap/postgres/setup_test.go
  internal/apiutil/transport.go
  internal/groups/api/logging.go
  internal/server/coap/coap.go
  internal/server/grpc/grpc.go
  internal/server/http/http.go
  internal/server/server.go
  logger/logger_test.go
  users/api/logging.go
Due: Lint and Test Internal, Lint and Test Logger

remove older logger
  logger/logger.go
Due: Lint and Test Logger

add fields for filtering
  users/api/logging.go
Due: none

remove kitlogger
  cmd/auth/main.go
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/invitations/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/provision/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  http/api/endpoint_test.go
  kitlogger/kitdodc.go
  kitlogger/kitexit.go
  kitlogger/kitlogger.go
  kitlogger/kitlogger_test.go
  kitlogger/kitmock.go
  logger/doc.go
  logger/level.go
  logger/level_test.go
  logger/logger.go
  logger/mock.go
  pkg/sdk/go/message_test.go
  ws/api/endpoint_test.go
Due: Lint and Test Logger, Lint and Test PKG

fix level.go
  logger/level.go
  logger/level_test.go
  logger/slogger.go
Due: Lint and Test Logger

final configuration
  Makefile
  cmd/http/main.go
  cmd/mqtt/main.go
  cmd/ws/main.go
  go.mod
  http/api/endpoint_test.go
  kitlogger/kitexit.go
  kitlogger/kitlevel.go
  kitlogger/kitlevel_test.go
  kitlogger/kitlogger.go
  kitlogger/kitlogger_test.go
  kitlogger/kitmock.go
  logger/mock.go
  mqtt/forwarder.go
  mqtt/handler.go
  pkg/sdk/go/message_test.go
  ws/api/endpoint_test.go
  ws/api/endpoints.go
  ws/api/logging.go
  ws/client.go
  ws/client_test.go
  ws/handler.go
Due: Lint and Test Logger, Lint and Test PKG

fix: remove level files
  logger/level.go
  logger/level_test.go
Due: Lint and Test Logger
