Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

add : domain in things and groups
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/requests.go
  auth/api/grpc/responses.go
  auth/api/grpc/server.go
  auth/api/http/policies/endpoint.go
  auth/api/logging.go
  auth/api/metrics.go
  auth/mocks/auth.go
  auth/mocks/service.go
  auth/policies.go
  auth/service.go
  auth/tracing/tracing.go
  auth_grpc.pb.go
  internal/groups/service.go
  pkg/errors/types.go
  things/api/http/clients.go
  things/service.go
  things/standalone/standalone.go
Due: Lint and Test Internal, Lint and Test PKG

fix: domains table
  auth/postgres/init.go
Due: none

add: list domain users and users domain
  auth/api/http/domains/responses.go
  auth/service.go
  docker/nginx/nginx-key.conf
  users/api/clients.go
  users/api/endpoints.go
  users/service.go
Due: none

fix: policy preconditions
  auth/spicedb/policies.go
  internal/groups/mocks/groups.go
  internal/groups/postgres/groups.go
  internal/groups/service.go
  pkg/groups/groups.go
  things/api/http/endpoints.go
  users/api/clients.go
  users/api/groups.go
  users/api/requests.go
Due: Lint and Test Internal, Lint and Test PKG

fix: domains listing
  auth/api/http/domains/responses.go
  auth/postgres/domains.go
  auth/service.go
  cmd/users/main.go
Due: none

add: policy preconditions
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/requests.go
  auth/api/grpc/server.go
  auth/api/http/domains/decode.go
  auth/mocks/service.go
  auth/policies.go
  auth/postgres/domains.go
  auth/service.go
  auth/spicedb/policies.go
  docker/docker-compose.yml
  docker/spicedb/schema.zed
  http/api/endpoint_test.go
  internal/groups/api/endpoints.go
  internal/groups/api/logging.go
  internal/groups/api/metrics.go
  internal/groups/events/streams.go
  internal/groups/service.go
  internal/groups/tracing/tracing.go
  internal/testsutil/common.go
  pkg/groups/groups.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/message_test.go
  pkg/sdk/go/users_test.go
  things/api/http/channels.go
  things/service.go
  users/api/groups.go
  users/postgres/clients_test.go
  users/service.go
  users/service_test.go
  ws/api/endpoint_test.go
Due: Lint and Test Internal, Lint and Test PKG

fix: comments
  auth/api/http/policies/endpoint.go
  auth/api/http/policies/endpoint_test.go
  auth/api/logging.go
  auth/policies.go
  auth/postgres/domains.go
  auth/postgres/init.go
  auth/service_test.go
  auth/spicedb/policies.go
  docker/docker-compose.yml
  internal/groups/api/logging.go
  internal/groups/api/metrics.go
  internal/groups/events/streams.go
  internal/groups/service.go
  internal/groups/tracing/tracing.go
  pkg/groups/groups.go
Due: Lint and Test Internal, Lint and Test PKG

fix: extract errors
  auth/service.go
  auth/spicedb/policies.go
  internal/groups/service.go
Due: Lint and Test Internal

fix: remove todo
  auth.pb.go
  auth.proto
  auth/service.go
  internal/groups/service.go
Due: Lint and Test Internal

addressed pr comments
  auth/domains.go
  auth/mocks/domains.go
  auth/postgres/domains.go
  auth/postgres/domains_test.go
  auth/service.go
  auth/spicedb/policies.go
Due: none

remove: email from domains
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/requests.go
  auth/domains.go
  auth/postgres/domains.go
  auth/postgres/init.go
  auth/spicedb/policies.go
Due: none

spicedb schema remove empty lines
  docker/spicedb/schema.zed
Due: none

rename function
  users/mocks/clients.go
  users/postgres/clients.go
  users/postgres/clients_test.go
  users/service.go
Due: none

fix sql
  users/postgres/clients.go
Due: none

list users
  pkg/clients/clients.go
  pkg/clients/page.go
  pkg/clients/postgres/clients.go
  things/mocks/clients.go
  users/mocks/clients.go
  users/service.go
Due: Lint and Test PKG

add: comments
  auth/policies.go
  docker/spicedb/schema.zed
Due: none

addressed pr comments
  auth/jwt/tokenizer.go
  auth/postgres/domains.go
  auth/postgres/setup_test.go
  cmd/test/main.go
  users/api/clients.go
Due: none

fix: token refresh request
  users/api/clients.go
Due: none

add: grpc request validation for authReq and policyReq
  auth/api/grpc/requests.go
  internal/apiutil/errors.go
Due: Lint and Test Internal

change endpoint from user/id/owner to user/id/role
  users/api/clients.go
Due: none

remove: policies http endpoints
  auth/api/http/policies/endpoint.go
  auth/api/http/policies/endpoint_test.go
  auth/api/http/policies/requests.go
  auth/api/http/policies/responses.go
  auth/api/http/policies/transport.go
  auth/api/http/transport.go
Due: none

fix: add delete policies in domain
  auth/domains.go
  auth/mocks/domains.go
  auth/postgres/domains.go
  auth/postgres/domains_test.go
  auth/service.go
Due: none

fix .zed and removed unused error var
  docker/spicedb/schema.zed
  internal/apiutil/errors.go
Due: Lint and Test Internal

fix merge & remvoe unused err var
  auth/service.go
Due: none

remove debug line and comments
  internal/groups/postgres/groups.go
  users/service.go
Due: Lint and Test Internal

Migrate from bone to chi
  auth/api/http/keys/transport.go
  auth/api/http/policies/transport.go
  auth/api/http/transport.go
  go.mod
  go.sum
Due: none

Migrate from bone to chi
  auth/api/http/transport.go
Due: none

Fix failing tests in SDK
  internal/api/common.go
  internal/groups/api/requests.go
  internal/groups/service.go
  pkg/sdk/go/certs_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/consumers_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/health_test.go
  pkg/sdk/go/setup_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/tokens_test.go
  pkg/sdk/go/users_test.go
  things/service.go
Due: Lint and Test Internal, Lint and Test PKG

Fix Certs Tests
  certs/postgres/setup_test.go
  certs/service_test.go
Due: none

add: single relation precondition for user -> things, groups
  auth/spicedb/policies.go
Due: none

Fix Bootstrap Tests
  bootstrap/api/endpoint_test.go
  bootstrap/events/producer/events.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service_test.go
Due: none

fix: super admin to create entites in domain
  auth/spicedb/policies.go
Due: none

Add subroutes
  auth/api/http/keys/transport.go
  auth/api/http/policies/transport.go
Due: none

Fix `pkg/clients` tests
  pkg/clients/postgres/clients_test.go
Due: Lint and Test PKG

Fix Consumers Tests
  consumers/notifiers/api/endpoint_test.go
  consumers/notifiers/mocks/notifier.go
  consumers/notifiers/service_test.go
Due: none

add: domains sdk
  pkg/sdk/go/domains.go
  pkg/sdk/go/requests.go
  pkg/sdk/go/responses.go
  pkg/sdk/go/sdk.go
  pkg/sdk/go/tokens.go
Due: Lint and Test PKG

fix: error
  cmd/test/main.go
  pkg/sdk/go/tokens_test.go
  provision/service.go
  tools/e2e/e2e.go
  tools/provision/provision.go
Due: Lint and Test PKG, Lint and Test Tools

fix: cli users token and refresh
  cli/users.go
Due: none
