Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

fix: return level.go
  logger/level.go
  logger/level_test.go
Due: Lint and Test Logger

switch to slog
  logger/logger_test.go
  logger/mock.go
  logger/sloggerex.go
Due: Lint and Test Logger

resolve comments
  Makefile
  cmd/auth/main.go
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/invitations/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/provision/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  logger/level.go
  logger/logger_test.go
  logger/mock.go
  logger/slogger.go
Due: Lint and Test Logger

chore: Update compose to work with latest version
  Makefile
  README.md
  docker/brokers/docker-compose.yml
  docker/brokers/profiles/nats.yml
Due: none

fix linter
  twins/mocks/service.go
Due: none

resolve pointer comments
  bootstrap/postgres/configs.go
  certs/postgres/certs.go
  logger/doc.go
  logger/logger.go
  logger/logger_test.go
  lora/mqtt/sub.go
  pkg/messaging/rabbitmq/setup_test.go
Due: Lint and Test Logger, Lint and Test PKG

resolve comments
  go.mod
  go.sum
  logger/logger.go
  logger/mock.go
Due: Lint and Test Logger

fix logger-test
  logger/logger_test.go
Due: Lint and Test Logger

fix logger_tests
  logger/logger_test.go
Due: Lint and Test Logger

remove kitlogger
  .golangci.yml
  cmd/auth/main.go
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/cassandra-writer/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/influxdb-writer/main.go
  cmd/invitations/main.go
  cmd/lora/main.go
  cmd/mongodb-reader/main.go
  cmd/mongodb-writer/main.go
  cmd/mqtt/main.go
  cmd/opcua/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/provision/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  go.mod
  go.sum
  http/api/endpoint_test.go
  logger/level.go
  logger/level_test.go
  logger/logger.go
  logger/mock.go
  pkg/sdk/go/message_test.go
  ws/api/endpoint_test.go
Due: Lint and Test Logger, Lint and Test PKG

fix tests
  cmd/opcua/main.go
  cmd/ws/main.go
  logger/logger_test.go
Due: Lint and Test Logger

Fix incorrect payload format in e2e.go and use GetPayload() in client.go
  tools/e2e/e2e.go
  ws/client.go
Due: Lint and Test Tools

use safer method to get values from message
  cmd/twins/main.go
  coap/adapter.go
  coap/api/logging.go
  coap/api/transport.go
  consumers/notifiers/service.go
  consumers/notifiers/smpp/notifier.go
  consumers/notifiers/smtp/notifier.go
  mqtt/forwarder.go
  mqtt/handler.go
  opcua/gopcua/subscribe.go
  pkg/messaging/mqtt/pubsub_test.go
  pkg/messaging/nats/publisher.go
  pkg/messaging/nats/tracing/publisher.go
  pkg/messaging/nats/tracing/pubsub.go
  pkg/messaging/rabbitmq/publisher.go
  pkg/messaging/rabbitmq/pubsub_test.go
  pkg/messaging/rabbitmq/tracing/publisher.go
  pkg/messaging/rabbitmq/tracing/pubsub.go
  pkg/transformers/json/transformer.go
  pkg/transformers/senml/transformer.go
  tools/e2e/e2e.go
  twins/mocks/messages.go
  twins/service.go
  ws/handler.go
Due: Lint and Test OPC-UA, Build OPC-UA, Lint and Test PKG, Lint and Test Tools

add invalid level
  logger/logger_test.go
Due: Lint and Test Logger

Add changes to postgres client.
  things/postgres/clients.go
Due: none

Remove redundant test case in cache
  things/cache/things_test.go
Due: none

Refactor testremove in cache tests
  things/cache/things_test.go
Due: none

feat: improve tests in things svc
  internal/api/common.go
  things/api/grpc/endpoint_test.go
  things/api/http/endpoints_test.go
  things/api/http/requests.go
  things/api/http/requests_test.go
  things/cache/setup_test.go
  things/cache/things.go
  things/cache/things_test.go
  things/postgres/clients.go
  things/postgres/clients_test.go
  things/service.go
  things/service_test.go
Due: Lint and Test Internal

Update invitations api tests
  invitations/api/endpoint_test.go
Due: none

Remove redundant lines from cache
  things/cache/things.go
Due: none

add test for invalid metadata in postgres client
  things/postgres/clients.go
  things/postgres/clients_test.go
Due: none

feat: update tests for userssvc
  users/api/endpoint_test.go
  users/postgres/clients_test.go
  users/service_test.go
Due: none

Refactor postgres client
  users/api/endpoint_test.go
  users/postgres/clients.go
Due: none

Remove visibility
  api/openapi/users.yml
  users/api/clients.go
  users/api/requests.go
  users/api/requests_test.go
  users/postgres/clients_test.go
Due: none

Refactor postgres client and api encode error
  users/api/endpoint_test.go
  users/postgres/clients.go
Due: none

Add requests.go file
  users/api/endpoint_test.go
  users/api/requests_test.go
Due: none

Remove share id from list clients request
  users/api/clients.go
  users/api/requests.go
  users/postgres/clients.go
  users/postgres/clients_test.go
Due: none

Update retreive all test in postgres client
  users/postgres/clients_test.go
Due: none

Remove redundant code in clients.go
  users/api/clients.go
Due: none

Add disabled clients to retrieve all query
  users/postgres/clients_test.go
Due: none

Remove user vissibility from api
  api/openapi/users.yml
  users/api/clients.go
Due: none

fix failing endpoint test
  users/api/endpoint_test.go
  users/postgres/clients_test.go
Due: none

Add comment
  users/postgres/clients_test.go
Due: none

limit max traces kept in jaeger memory by docker deployment
  docker/.env
  docker/docker-compose.yml
Due: none

feat(api): add Role field to listClientsEndpoint
  things/api/http/endpoints.go
Due: none

feat(license): add license header in vernemq.sh
  .github/workflows/check-license.yaml
  docker/vernemq/bin/vernemq.sh
Due: none

fix list subjects
  auth/api/logging.go
Due: none

resolve new comments
  auth/api/logging.go
  bootstrap/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  consumers/writers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  readers/api/logging.go
  users/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal
