Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

add callhome alias
  .golangci.yml
  bootstrap/api/endpoint_test.go
  cmd/things/main.go
  internal/groups/service.go
  readers/mocks/messages.go
Due: Lint and Test Readers, Lint and Test Internal

feat(invitations): Implement invitations outline
  invitations/invitations.go
Due: none

docs(invitations): add godocs
  invitations/doc.go
  invitations/invitations.go
Due: none

feat(invitations): add withToken parameter to RetrieveAll method
  invitations/invitations.go
Due: none

test: Add tests for MarshalJSON and CheckRelation
  .github/workflows/ci.yml
  invitations/invitations_test.go
Due: none

fix: update make test
  .github/workflows/cd.yml
  Makefile
Due: none

fix: fix coverage.txt in cd.yml
  .github/workflows/cd.yml
Due: none

fix: simplify go test
  Makefile
Due: none

refactor(clients): deprecate RetrieveNames
  pkg/clients/postgres/clients.go
  pkg/clients/postgres/clients_test.go
  users/mocks/clients.go
  users/postgres/clients.go
  users/postgres/clients_test.go
Due: Lint and Test PKG

change from if statement to switch
  pkg/clients/postgres/clients.go
Due: Lint and Test PKG

fix: remove cassandra
  Makefile
Due: none

docs(invitations): Add Base README
  invitations/README.md
Due: none

feat(invitations): add repository layer
  invitations/invitations.go
  invitations/mocks/doc.go
  invitations/mocks/invitations.go
  invitations/postgres/doc.go
  invitations/postgres/init.go
  invitations/postgres/invitations.go
  invitations/postgres/invitations_test.go
  invitations/postgres/setup_test.go
Due: none

feat: test with token
  invitations/mocks/invitations.go
  invitations/postgres/invitations.go
  invitations/postgres/invitations_test.go
Due: none

feat(invitations): Implement error handling and repository functions
  internal/postgres/errors.go
  invitations/postgres/invitations.go
  invitations/postgres/invitations_test.go
Due: Lint and Test Internal

feat(Page): Add new field `InvitedByOrUserID`
  invitations/invitations.go
  invitations/postgres/invitations.go
  invitations/postgres/invitations_test.go
Due: none

feat(invitations): add updated_at field to UpdateConfirmation query
  invitations/postgres/invitations.go
Due: none

feat(invitation): Add new function for sending invitations
  invitations/invitations.go
  invitations/service.go
  invitations/service_test.go
Due: none

test(invitations): Add test cases for invitation functions
  invitations/service_test.go
Due: none

feat(invitations): update ListInvitations function
  invitations/invitations.go
  invitations/service.go
Due: none

feat: test with token
  invitations/service.go
Due: none

feat(invitations): Add rename to checkAdmin
  invitations/service.go
Due: none

Refactor RetrieveAll method signature
  invitations/invitations.go
  invitations/mocks/invitations.go
  invitations/postgres/invitations.go
  invitations/postgres/invitations_test.go
  invitations/service.go
  invitations/service_test.go
Due: none

feat(api): Implement endpoints for invitations
  invitations/api/doc.go
  invitations/api/endpoint.go
  invitations/api/requests.go
  invitations/api/responses.go
  invitations/api/transport.go
  invitations/middleware/doc.go
  invitations/middleware/logging.go
  invitations/middleware/metrics.go
  invitations/middleware/tracing.go
Due: none

feat(invitations): add service mocks
  invitations/mocks/service.go
Due: none

feat(endpoint): test API layer
  invitations/api/endpoint.go
  invitations/api/endpoint_test.go
  invitations/api/requests.go
  invitations/api/requests_test.go
  invitations/api/transport.go
  invitations/middleware/logging.go
  invitations/middleware/metrics.go
  invitations/middleware/tracing.go
Due: none

refactor(invitations): accept invitation to take domain
  invitations/api/endpoint.go
  invitations/api/endpoint_test.go
  invitations/api/requests.go
  invitations/api/requests_test.go
  invitations/api/responses.go
  invitations/api/transport.go
  invitations/middleware/logging.go
  invitations/middleware/metrics.go
  invitations/middleware/tracing.go
  invitations/mocks/service.go
Due: none

Update Gitignore
  .github/workflows/build.yml
  .github/workflows/tests.yml
  .gitignore
Due: none

refactor(invitations): rename domain to domainID
  invitations/api/endpoint.go
  invitations/api/endpoint_test.go
  invitations/api/requests.go
  invitations/api/requests_test.go
  invitations/api/transport.go
  invitations/invitations.go
  invitations/invitations_test.go
  invitations/middleware/doc.go
  invitations/middleware/logging.go
  invitations/middleware/metrics.go
  invitations/middleware/tracing.go
  invitations/mocks/invitations.go
  invitations/mocks/service.go
  invitations/postgres/init.go
  invitations/postgres/invitations.go
  invitations/postgres/invitations_test.go
  invitations/service.go
  invitations/service_test.go
Due: none

fix(mtls): fix mTLS support
  Makefile
  consumers/notifiers/smpp/README.md
  consumers/notifiers/smtp/README.md
  docker/.env
  docker/addons/bootstrap/docker-compose.yml
  docker/addons/cassandra-reader/docker-compose.yml
  docker/addons/certs/docker-compose.yml
  docker/addons/influxdb-reader/docker-compose.yml
  docker/addons/mongodb-reader/docker-compose.yml
  docker/addons/postgres-reader/docker-compose.yml
  docker/addons/smpp-notifier/docker-compose.yml
  docker/addons/smtp-notifier/docker-compose.yml
  docker/addons/timescale-reader/docker-compose.yml
  docker/addons/twins/docker-compose.yml
  docker/docker-compose.yml
  docker/ssl/Makefile
  readers/cassandra/README.md
  readers/influxdb/README.md
  readers/mongodb/README.md
  readers/postgres/README.md
  readers/timescale/README.md
  things/README.md
  twins/README.md
Due: Lint and Test Readers

fix(errors): user magistrala errors wrap
  internal/postgres/errors.go
  invitations/postgres/invitations_test.go
Due: Lint and Test Internal

add: view domain permissions
  auth/api/http/domains/decode.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/requests.go
  auth/api/http/domains/responses.go
  auth/api/http/domains/transport.go
  auth/api/logging.go
  auth/api/metrics.go
  auth/domains.go
  auth/mocks/domains.go
  auth/postgres/domains.go
  auth/service.go
  auth/tracing/tracing.go
Due: none

fix: retrieve group
  internal/groups/postgres/groups.go
Due: Lint and Test Internal

"gofumpt" -ed
  auth/domains.go
  auth/postgres/domains.go
Due: none

change to query fram approch
  auth/postgres/domains.go
Due: none

change in approch for retrieve domain permissions
  auth/api/logging.go
  auth/api/metrics.go
  auth/domains.go
  auth/service.go
  auth/tracing/tracing.go
Due: none

add: view domain permissions sdk
  pkg/sdk/go/domains.go
Due: Lint and Test PKG

add: view domain permissions sdk
  pkg/sdk/go/domains.go
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

fix: golangci errors
  auth/api/logging.go
  auth/api/metrics.go
  auth/service.go
  auth/tracing/tracing.go
Due: none
