Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
    - PROTOC_VERSION=24.3
    - PROTOC_GEN_VERSION=v1.31.0
    - PROTOC_GRPC_VERSION=v1.3.0
    - PROTOC_ZIP=protoc-$PROTOC_VERSION-linux-x86_64.zip
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make docker_users
  secrets:
  - name: docker_hub

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make docker_things
  secrets:
  - name: docker_hub

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make docker_coap
  secrets:
  - name: docker_hub

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/http:latest
  secrets:
  - name: docker_hub

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/mqtt:latest
  secrets:
  - name: docker_hub

Build WS:
  jobs:
  - name: Build WS
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/ws:latest
  secrets:
  - name: docker_hub

Rename to notifiers for ease of testing purposes
  api/openapi/notifiers.yml
Due: none

Update API test workflow and schemas
  .github/workflows/api-tests.yml
  Makefile
  api/openapi/things.yml
  things/api/http/responses.go
  things/service.go
Due: none

Add property based testing to users API using schemathesis
  .github/workflows/api-tests.yml
  .gitignore
  Makefile
  api/openapi/users.yml
  auth/postgres/domains.go
  auth/service.go
  internal/api/common.go
  internal/apiutil/errors.go
  internal/groups/api/responses.go
  internal/groups/postgres/groups.go
  internal/groups/service.go
  internal/groups/service_test.go
  internal/postgres/common.go
  invitations/api/endpoint_test.go
  invitations/api/requests_test.go
  invitations/invitations.go
  invitations/invitations_test.go
  invitations/service_test.go
  pkg/clients/postgres/clients.go
  pkg/clients/status.go
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
  pkg/errors/types.go
  pkg/groups/errors.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/tokens_test.go
  pkg/sdk/go/users_test.go
  things/service.go
  things/service_test.go
  users/api/clients.go
  users/api/responses.go
  users/postgres/clients.go
  users/service.go
  users/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

Add property based testing to invitations API using schemathesis
  .github/workflows/api-tests.yml
  Makefile
  api/openapi/invitations.yml
Due: none

Refactor API Things endpoints
  .github/workflows/api-tests.yml
  api/openapi/auth.yml
  api/openapi/things.yml
  cmd/auth/main.go
  things/api/http/requests.go
Due: none

Add property based testing to auth API using schemathesis
  .github/workflows/api-tests.yml
  Makefile
  api/openapi/auth.yml
Due: none

Add property based testing to boostrap API using schemathesis
  .github/workflows/api-tests.yml
  Makefile
  api/openapi/bootstrap.yml
  bootstrap/api/transport.go
  internal/api/common.go
Due: Lint and Test Internal

Add property based testing to certs API using schemathesis
  .github/workflows/api-tests.yml
  Makefile
  api/openapi/certs.yml
  certs/api/transport.go
  internal/api/common.go
  pkg/sdk/go/certs_test.go
Due: Lint and Test Internal, Lint and Test PKG

Add property based testing to twins API using schemathesis
  .github/workflows/api-tests.yml
  Makefile
  api/openapi/twins.yml
  twins/api/http/transport.go
Due: none

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
