Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

Add service error type
  pkg/errors/service/types.go
Due: Lint and Test PKG

Update auth errors
  auth/service.go
  auth/spicedb/policies.go
  things/service.go
Due: none

Remove repo errors from transport layer
  auth/api/http/policies/transport.go
  internal/groups/postgres/groups.go
  internal/postgres/errors.go
  pkg/errors/repository/types.go
Due: Lint and Test Internal, Lint and Test PKG

Fix ci
  auth/jwt/tokenizer.go
  auth/postgres/domains.go
  internal/postgres/errors.go
Due: Lint and Test Internal

Solve merge errors
  bootstrap/events/producer/streams_test.go
  bootstrap/service.go
  bootstrap/service_test.go
  certs/service_test.go
  internal/groups/api/decode.go
  internal/groups/mocks/groups.go
  internal/groups/postgres/groups.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  things/api/http/requests.go
  things/mocks/auth.go
  things/mocks/clients.go
  things/postgres/clients.go
  things/service.go
  things/service_test.go
  twins/mongodb/twins_test.go
  users/mocks/clients.go
  users/postgres/clients.go
  users/service.go
  users/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

Wrap errors in users service
  users/postgres/clients.go
  users/service.go
Due: none

Remove apiutil from service
  auth/service.go
  pkg/errors/types.go
  things/service.go
  users/service.go
Due: Lint and Test PKG

fix ci
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
  users/service.go
Due: Lint and Test PKG

update error type definitions
  Makefile
Due: none

Resolve conflicts
  auth/api/http/policies/transport.go
  auth/spicedb/policies.go
  pkg/errors/types.go
  users/mocks/clients.go
Due: Lint and Test PKG

Update error wrapping
  Makefile
  auth/spicedb/policies.go
  internal/postgres/errors.go
  things/service.go
  users/service.go
Due: Lint and Test Internal

update error type definitions
  auth/mocks/service.go
  auth/service.go
  auth/spicedb/policies.go
  bootstrap/service.go
  users/service.go
  ws/handler.go
Due: none

Update license header
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
Due: Lint and Test PKG

Update auth errors
  auth/jwt/tokenizer.go
  auth/postgres/domains.go
  auth/service.go
  internal/postgres/errors.go
Due: Lint and Test Internal

Update error tags
  bootstrap/service.go
  certs/service.go
  pkg/errors/service/types.go
  things/service.go
  twins/service.go
  users/service.go
Due: Lint and Test PKG

Update errors
  auth/service.go
Due: none

Wrap errors in things service
  pkg/errors/repository/types.go
  things/postgres/clients.go
  things/service.go
  users/postgres/clients.go
  users/service.go
Due: Lint and Test PKG

Handle token errors
  auth/jwt/tokenizer.go
  pkg/errors/types.go
Due: Lint and Test PKG

Refactor postgres errors
  auth/postgres/domains.go
  auth/postgres/key.go
  internal/groups/postgres/groups.go
  internal/postgres/errors.go
  pkg/clients/postgres/clients.go
  things/postgres/clients.go
  users/postgres/clients.go
Due: Lint and Test Internal, Lint and Test PKG

Rename import aliases
  auth/mocks/service.go
  auth/postgres/domains.go
  auth/service.go
  auth/spicedb/policies.go
  bootstrap/service.go
  certs/service.go
  things/mocks/auth.go
  things/mocks/clients.go
  things/mocks/things.go
  things/postgres/clients.go
  things/service.go
  things/standalone/standalone.go
  twins/service.go
  users/mocks/clients.go
  users/postgres/clients.go
  users/service.go
  ws/handler.go
Due: none

Rename import aliases
  auth/service.go
Due: none

Wrap errors in twins
  twins/service.go
Due: none

Update postgres errors
  auth/postgres/domains.go
  auth/postgres/key.go
  internal/groups/postgres/groups.go
  internal/postgres/errors.go
  things/postgres/clients.go
  users/postgres/clients.go
Due: Lint and Test Internal

Update errors
  internal/api/common.go
Due: Lint and Test Internal

Update error definitions
  auth/service.go
  auth/spicedb/policies.go
  bootstrap/service.go
  certs/service.go
  internal/postgres/errors.go
  things/service.go
  users/service.go
Due: Lint and Test Internal

Update errors in auth
  auth/service.go
  auth/spicedb/policies.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service.go
  bootstrap/service_test.go
  certs/service_test.go
  internal/groups/api/decode.go
  internal/postgres/errors.go
  pkg/clients/postgres/clients.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  things/api/http/requests.go
  things/postgres/clients.go
  things/service_test.go
  twins/mongodb/twins_test.go
  twins/service.go
  users/postgres/clients.go
Due: Lint and Test Internal, Lint and Test PKG

Update users service
  things/service.go
  users/service.go
  users/service_test.go
Due: none

update error type definitions
  auth/jwt/tokenizer.go
  bootstrap/service.go
  pkg/errors/types.go
Due: Lint and Test PKG

Update provision
  certs/service.go
  provision/service.go
Due: none

Update errors in transport
  internal/api/common.go
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
  pkg/errors/types.go
  users/service.go
  users/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

Update errors in transport
  internal/api/common.go
Due: Lint and Test Internal

update error definitions
  auth/postgres/domains.go
  auth/service.go
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
  pkg/errors/types.go
  things/service.go
  twins/service.go
  users/service.go
Due: Lint and Test PKG

fix sdk pgm from email to identity
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

fix linter error
  provision/service.go
Due: none

add: single relation precondition for user -> things, groups
  auth/spicedb/policies.go
Due: none

manual sync with main branch
  auth/spicedb/policies.go
Due: none

fix: comment grammar
  auth/spicedb/policies.go
Due: none

fix: nginx entrypoint.sh file shebang
  docker/nginx/entrypoint.sh
Due: none

fix: default domain users listing include membership
  users/api/clients.go
Due: none
