Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
    - PROTOC_VERSION=24.3
    - PROTOC_GEN_VERSION=v1.31.0
    - PROTOC_GRPC_VERSION=v1.3.0
    - PROTOC_ZIP=protoc-$PROTOC_VERSION-linux-x86_64.zip
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make docker_users
  secrets:
  - name: docker_hub

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make docker_things
  secrets:
  - name: docker_hub

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make docker_coap
  secrets:
  - name: docker_hub

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/http:latest
  secrets:
  - name: docker_hub

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/mqtt:latest
  secrets:
  - name: docker_hub

Build WS:
  jobs:
  - name: Build WS
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/ws:latest
  secrets:
  - name: docker_hub

fix linter
  bootstrap/api/logging.go
  pkg/messaging/handler/logging.go
  readers/api/logging.go
  users/api/logging.go
Due: Lint and Test Readers, Lint and Test PKG

fix users svc
  bootstrap/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  users/api/logging.go
Due: Lint and Test OPC-UA, Build OPC-UA, Lint and Test PKG

user getter functions
  things/api/logging.go
Due: none

Update more services
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
  ws/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test PKG

squash policy request groups
  auth/api/logging.go
  bootstrap/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  consumers/writers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
  ws/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

fix pages and log messages
  bootstrap/api/logging.go
  certs/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
Due: Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

update slog arguments for remaining services
  auth/api/logging.go
  bootstrap/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  ws/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal

return Warn level
  users/api/logging.go
Due: none

update users go docs
  users/api/logging.go
Due: none

resolve comments
  auth/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
  ws/api/logging.go
Due: Lint and Test Readers, Lint and Test Internal

restructure slog attributes in users svc
  auth/api/logging.go
  bootstrap/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
  readers/api/logging.go
  users/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

revise permissions
  auth/api/logging.go
Due: none

fix log messages
  auth/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
Due: Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

fix method logs in users
  users/api/logging.go
Due: none

fix twins and ws
  twins/api/logging.go
  users/api/logging.go
  ws/api/logging.go
Due: none

update middleware
  bootstrap/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
  ws/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

add logAction function
  pkg/messaging/handler/logging.go
Due: Lint and Test PKG

fix error log
  auth/api/logging.go
  bootstrap/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
  ws/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

remove group kind
  internal/groups/api/logging.go
Due: Lint and Test Internal

fix: remove repetition
  auth/api/logging.go
  bootstrap/api/logging.go
  certs/api/logging.go
  coap/api/logging.go
  consumers/notifiers/api/logging.go
  internal/groups/api/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  pkg/messaging/handler/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
  ws/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test PKG

update log messages and policy requests
  auth/api/logging.go
  bootstrap/api/logging.go
  certs/api/logging.go
  consumers/notifiers/api/logging.go
  consumers/writers/api/logging.go
  internal/groups/api/logging.go
  invitations/middleware/logging.go
  lora/api/logging.go
  opcua/api/logging.go
  provision/api/logging.go
  readers/api/logging.go
  things/api/logging.go
  twins/api/logging.go
  users/api/logging.go
Due: Lint and Test Readers, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal

Solve merge conflicts
  auth/api/http/domains/endpoint_test.go
  things/api/http/endpoints_test.go
  users/api/endpoint_test.go
  users/service_test.go
Due: none

Autogenerate mocks for auth service
  auth/api/grpc/setup_test.go
  auth/api/http/domains/endpoint_test.go
  auth/domains.go
  auth/mocks/authservice.go
  auth/mocks/service.go
  auth/service.go
  bootstrap/api/endpoint_test.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service_test.go
  certs/service_test.go
  consumers/notifiers/api/endpoint_test.go
  consumers/notifiers/service_test.go
  http/api/endpoint_test.go
  internal/groups/service_test.go
  invitations/service_test.go
  mqtt/handler_test.go
  pkg/sdk/go/certs_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/consumers_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/message_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/users_test.go
  readers/api/endpoint_test.go
  things/service_test.go
  twins/mocks/service.go
  users/service_test.go
  ws/adapter_test.go
  ws/api/endpoint_test.go
Due: Lint and Test Readers, Lint and Test Internal, Lint and Test PKG

Increase coverage
  auth/api/http/keys/endpoint_test.go
  auth/domains_test.go
Due: none

Remove vestigial code
  auth/api/grpc/requests.go
  auth/api/http/keys/endpoint_test.go
  auth/api/http/keys/requests_test.go
  auth/api/http/keys/transport.go
  auth/postgres/domains.go
  auth/service.go
  auth/service_test.go
Due: none

Rename auth client mock
  auth/mocks/auth_client.go
  bootstrap/api/endpoint_test.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service_test.go
  certs/service_test.go
  consumers/notifiers/api/endpoint_test.go
  consumers/notifiers/service_test.go
  http/api/endpoint_test.go
  internal/groups/service_test.go
  invitations/service_test.go
  mqtt/handler_test.go
  pkg/sdk/go/certs_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/consumers_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/message_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/users_test.go
  readers/api/endpoint_test.go
  things/api/http/endpoints_test.go
  things/service_test.go
  twins/mocks/service.go
  users/api/endpoint_test.go
  users/service_test.go
  ws/adapter_test.go
  ws/api/endpoint_test.go
Due: Lint and Test Readers, Lint and Test Internal, Lint and Test PKG

Refactor domain repository
  auth/postgres/domains.go
  auth/postgres/domains_test.go
Due: none

fix list permissions bug
  auth/api/grpc/client.go
  auth/api/grpc/endpoint_test.go
Due: none

Rename add policies response
  auth.pb.go
  auth.proto
  auth/api/grpc/client.go
  auth/api/grpc/endpoint.go
  auth/api/grpc/endpoint_test.go
  auth/api/grpc/responses.go
  auth/api/grpc/server.go
  bootstrap/api/endpoint_test.go
  cmd/users/main.go
  internal/groups/service_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/users_test.go
  things/service.go
  things/service_test.go
  users/service.go
  users/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

Add autogenerated mocks for auth service
  .github/workflows/check-generated-files.yml
  auth/api/grpc/endpoint_test.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/endpoint_test.go
  auth/domains.go
  auth/mocks/domains.go
  auth/postgres/domains.go
  auth/postgres/domains_test.go
  auth/service_test.go
Due: none

Remove TODO comment
  auth/api/grpc/requests.go
Due: none

Improve tests in auth
  auth/api/grpc/client.go
  auth/api/grpc/endpoint_test.go
  auth/api/grpc/server.go
  auth/api/grpc/setup_test.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/endpoint_test.go
  auth/domains.go
  auth/mocks/authservice.go
  auth/postgres/domains_test.go
  auth/service_test.go
Due: none

resolve comments in domains.go
  auth/postgres/domains.go
Due: none

refactor service for expiry error
  auth/api/grpc/endpoint_test.go
  auth/domains_test.go
  auth/jwt/token_test.go
  auth/service.go
  auth/service_test.go
Due: none

refactor domain id name
  auth/api/grpc/endpoint_test.go
Due: none

Increase test coverage
  auth/domains_test.go
  auth/jwt/token_test.go
  auth/postgres/domains.go
  auth/postgres/domains_test.go
Due: none

Upgrade gRPC instrumentation for better telemetry
  internal/server/grpc/grpc.go
Due: Lint and Test Internal

Rename function and variables to flush context
  pkg/events/redis/publisher.go
Due: Lint and Test PKG

test(evnts): Test `TestUnavailablePublish`
  pkg/events/nats/publisher.go
  pkg/events/nats/publisher_test.go
  pkg/events/nats/setup_test.go
  pkg/events/rabbitmq/publisher.go
  pkg/events/rabbitmq/publisher_test.go
  pkg/events/rabbitmq/setup_test.go
  pkg/events/redis/publisher.go
  pkg/events/redis/publisher_test.go
  pkg/events/redis/setup_test.go
  pkg/events/store/brokers_redis.go
Due: Lint and Test PKG

test(publisher): remove `TestUnavailablePublish`
  pkg/events/nats/publisher_test.go
  pkg/events/nats/setup_test.go
  pkg/events/rabbitmq/publisher_test.go
  pkg/events/rabbitmq/setup_test.go
  pkg/events/redis/publisher_test.go
  pkg/events/redis/setup_test.go
Due: Lint and Test PKG

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
