Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
    - PROTOC_VERSION=24.3
    - PROTOC_GEN_VERSION=v1.31.0
    - PROTOC_GRPC_VERSION=v1.3.0
    - PROTOC_ZIP=protoc-$PROTOC_VERSION-linux-x86_64.zip
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make docker_users
  secrets:
  - name: docker_hub

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make docker_things
  secrets:
  - name: docker_hub

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make docker_coap
  secrets:
  - name: docker_hub

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/http:latest
  secrets:
  - name: docker_hub

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/mqtt:latest
  secrets:
  - name: docker_hub

Build WS:
  jobs:
  - name: Build WS
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/ws:latest
  secrets:
  - name: docker_hub

Wrap errors in users service
  users/service.go
Due: none

Solve merge errors
  bootstrap/api/endpoint_test.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service.go
  bootstrap/service_test.go
  certs/service_test.go
  internal/groups/api/decode.go
  internal/groups/mocks/groups.go
  internal/groups/postgres/groups.go
  pkg/clients/postgres/clients_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/users_test.go
  things/api/http/requests.go
  things/mocks/auth.go
  things/mocks/clients.go
  things/postgres/clients.go
  things/service.go
  things/service_test.go
  twins/mongodb/twins_test.go
  users/mocks/clients.go
  users/postgres/clients.go
  users/service.go
  users/service_test.go
Due: Lint and Test Internal, Lint and Test PKG

Wrap errors in users service
  users/postgres/clients.go
  users/service.go
Due: none

Wrap errors in bootstrap
  bootstrap/service.go
  twins/service.go
Due: none

Update provision
  certs/service.go
  provision/service.go
Due: none

Wrap errors in things service
  pkg/errors/repository/types.go
  things/postgres/clients.go
  things/service.go
  users/postgres/clients.go
  users/service.go
Due: Lint and Test PKG

Wrap errors in twins
  twins/service.go
Due: none

Remove repo error checks in transport layer
  bootstrap/api/transport.go
  certs/api/transport.go
  http/api/transport.go
  things/api/grpc/server.go
  twins/api/http/transport.go
Due: none

Update error tags
  auth/mocks/service.go
  auth/service.go
  bootstrap/api/transport.go
  bootstrap/service.go
  certs/service.go
  pkg/errors/service/types.go
  things/service.go
  things/standalone/standalone.go
  twins/service.go
  users/mocks/hasher.go
  users/service.go
Due: Lint and Test PKG

Remove repo errors from transport layer
  auth/api/http/keys/transport.go
  auth/api/http/policies/transport.go
  bootstrap/api/transport.go
  http/api/transport.go
  internal/groups/postgres/groups.go
  internal/postgres/errors.go
  pkg/errors/repository/types.go
  twins/api/http/transport.go
Due: Lint and Test Internal, Lint and Test PKG

Add copyright headers
  pkg/errors/repository/types.go
  pkg/errors/service/types.go
Due: Lint and Test PKG

Resolve conflicts
  auth/api/grpc/server.go
  auth/api/http/keys/transport.go
  auth/api/http/policies/transport.go
  auth/spicedb/policies.go
  pkg/errors/types.go
  users/mocks/clients.go
Due: Lint and Test PKG

feat: Add auth configuration loading and setup
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/mongodb-reader/main.go
  cmd/mqtt/main.go
  cmd/postgres-reader/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  pkg/auth/client.go
Due: Lint and Test PKG

fix(ci): log failed files
  .github/workflows/check-license.yaml
  auth/api/http/domains/decode.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/requests.go
  auth/api/http/domains/responses.go
  auth/api/http/domains/transport.go
  auth/domains.go
  auth/mocks/domains.go
  auth/postgres/domains.go
  auth/postgres/domains_test.go
  cli/domains.go
  pkg/auth/client.go
  pkg/auth/doc.go
  pkg/sdk/go/domains.go
Due: Lint and Test PKG

Fix error on test
  ws/adapter_test.go
Due: none

fix: loading auth config
  auth/postgres/setup_test.go
  bootstrap/postgres/setup_test.go
  certs/postgres/setup_test.go
  cmd/auth/main.go
  cmd/bootstrap/main.go
  cmd/cassandra-reader/main.go
  cmd/certs/main.go
  cmd/coap/main.go
  cmd/http/main.go
  cmd/influxdb-reader/main.go
  cmd/mongodb-reader/main.go
  cmd/mqtt/main.go
  cmd/postgres-reader/main.go
  cmd/postgres-writer/main.go
  cmd/smpp-notifier/main.go
  cmd/smtp-notifier/main.go
  cmd/things/main.go
  cmd/timescale-reader/main.go
  cmd/timescale-writer/main.go
  cmd/twins/main.go
  cmd/users/main.go
  cmd/ws/main.go
  consumers/notifiers/postgres/setup_test.go
  consumers/writers/postgres/setup_test.go
  consumers/writers/timescale/setup_test.go
  internal/clients/cassandra/cassandra.go
  internal/clients/influxdb/influxdb.go
  internal/clients/postgres/postgres.go
  internal/groups/postgres/setup_test.go
  pkg/auth/connect.go
  pkg/clients/postgres/setup_test.go
  things/postgres/setup_test.go
  users/postgres/setup_test.go
Due: Lint and Test Internal, Lint and Test PKG

style: fix linting errors
  .github/workflows/ci.yaml
  auth/api/http/domains/decode.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/responses.go
  auth/mocks/domains.go
  auth/postgres/domains.go
  auth/service.go
  auth/service_test.go
  internal/apiutil/errors.go
  internal/groups/service.go
  things/api/http/clients.go
  things/api/http/endpoints.go
  things/api/http/requests.go
  things/service.go
  things/standalone/standalone.go
  users/api/endpoints.go
  users/service.go
Due: Lint and Test Internal

chore: Exclude string occurrences
  .golangci.yml
Due: none

Fix Consumers Tests
  consumers/notifiers/api/endpoint_test.go
  consumers/notifiers/mocks/notifier.go
  consumers/notifiers/service_test.go
Due: none

Fix `pkg/clients` tests
  pkg/clients/postgres/clients_test.go
Due: Lint and Test PKG

Fix Bootstrap Tests
  bootstrap/api/endpoint_test.go
  bootstrap/events/producer/events.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service_test.go
Due: none

Fix Certs Tests
  certs/postgres/setup_test.go
  certs/service_test.go
Due: none

fix(domains): align tests with domains
  bootstrap/api/endpoint_test.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service_test.go
Due: none

fix: update Makefile to prefix magistrala
  Makefile
Due: none

fix: update Dockerfile to reflect correct file names
  docker/Dockerfile
  docker/Dockerfile.dev
Due: none

Fix users tests
  users/service_test.go
Due: none

test: update tests with domains
  auth/mocks/service.go
  users/service.go
  users/service_test.go
Due: none

feat(build): update Makefile
  Makefile
  docker/Dockerfile
  docker/Dockerfile.dev
Due: none

refactor: Align WS Documentation
  cmd/ws/main.go
  internal/server/server.go
  pkg/auth/connect.go
  ws/README.md
  ws/api/transport.go
  ws/handler.go
Due: Lint and Test Internal, Lint and Test PKG

docs: Align users documentation
  cmd/users/main.go
  cmd/ws/main.go
  internal/clients/postgres/postgres.go
  users/README.md
  ws/README.md
Due: Lint and Test Internal

fix: Fix ws and nginx configs
  cmd/ws/main.go
  docker/nginx/entrypoint.sh
Due: none

feat(users): add unique constraint to clients name
  users/postgres/init.go
Due: none

feat: add tests
  users/postgres/clients_test.go
  users/postgres/init.go
Due: none

fix: no need for seperate migration
  users/postgres/init.go
Due: none

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
