Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

feat(service): Add new "invitations" service
  Makefile
  cli/invitations.go
  cmd/cli/main.go
  cmd/invitations/main.go
  docker/.env
  docker/docker-compose.yml
  pkg/sdk/go/invitations.go
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

docs(api): invitation api
  api/openapi/invitations.yml
Due: none

fix: accept invitation to take in domain
  api/openapi/invitations.yml
  cli/invitations.go
  pkg/sdk/go/invitations.go
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

refactor(invitations): rename domain to domainID
  api/openapi/invitations.yml
  cli/invitations.go
  docker/nginx/entrypoint.sh
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
  invitations/service.go
  pkg/sdk/go/invitations.go
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

Authorize on id(domain+user) rather than user
  invitations/service.go
  invitations/service_test.go
Due: none

feat: API layer for search
  users/api/clients.go
  users/api/endpoints.go
  users/api/logging.go
  users/api/metrics.go
  users/api/requests.go
  users/clients.go
  users/events/events.go
  users/events/streams.go
  users/service.go
  users/tracing/tracing.go
Due: none

fix(api): fix default order in common.go
  internal/api/common.go
  users/api/clients.go
Due: Lint and Test Internal

refactor(users): remove search endpoint
  pkg/sdk/go/sdk.go
  users/api/clients.go
  users/api/endpoints.go
  users/api/logging.go
  users/api/metrics.go
  users/clients.go
  users/events/events.go
  users/events/streams.go
  users/service.go
  users/service_test.go
  users/tracing/tracing.go
Due: Lint and Test PKG

test: Add test function for search clients
  users/api/requests.go
  users/service_test.go
  users/tracing/tracing.go
Due: none

spicedb full consistency for read request
  auth/spicedb/policies.go
Due: none

Remove unvailable publish test
  pkg/events/events.go
  pkg/events/nats/publisher_test.go
  pkg/events/rabbitmq/publisher_test.go
Due: Lint and Test PKG

Fix pkg tests
  pkg/sdk/go/certs_test.go
  pkg/sdk/go/channels_test.go
  pkg/sdk/go/consumers_test.go
  pkg/sdk/go/groups_test.go
  pkg/sdk/go/message_test.go
  pkg/sdk/go/things_test.go
  pkg/sdk/go/tokens_test.go
  pkg/sdk/go/users_test.go
Due: Lint and Test PKG

Add opts to docker containers
  pkg/events/rabbitmq/setup_test.go
  pkg/events/redis/setup_test.go
Due: Lint and Test PKG

Cleaning up
  pkg/sdk/go/users_test.go
Due: Lint and Test PKG

Remove unvailable publish test
  Makefile
  pkg/events/nats/publisher_test.go
  pkg/events/rabbitmq/publisher_test.go
  pkg/events/redis/publisher_test.go
Due: Lint and Test PKG

Fix pkg tests
  pkg/events/events.go
  pkg/events/nats/publisher_test.go
  pkg/events/nats/setup_test.go
  pkg/events/rabbitmq/publisher_test.go
  pkg/events/rabbitmq/setup_test.go
  pkg/events/redis/publisher_test.go
  pkg/events/redis/setup_test.go
  pkg/messaging/rabbitmq/setup_test.go
Due: Lint and Test PKG

Cleaning up
  Makefile
Due: none

refactor groups tests
  pkg/sdk/go/groups_test.go
Due: Lint and Test PKG

fix errors
  certs/api/transport.go
Due: none

add: grpc error handling
  auth/api/grpc/client.go
  auth/api/grpc/server.go
  auth/service.go
  auth/spicedb/policies.go
  internal/api/common.go
  pkg/errors/service/types.go
  things/service.go
  users/service.go
Due: Lint and Test Internal, Lint and Test PKG

fix: golangci errors & remove: switch case placeholders
  auth/api/grpc/client.go
  auth/service.go
  auth/spicedb/policies.go
  pkg/errors/service/types.go
Due: Lint and Test PKG

Refactor invitation to list invitations by state
  api/openapi/invitations.yml
  internal/apiutil/errors.go
  invitations/api/endpoint_test.go
  invitations/api/transport.go
  invitations/invitations.go
  invitations/postgres/invitations.go
  invitations/postgres/invitations_test.go
  invitations/state.go
  invitations/state_test.go
Due: Lint and Test Internal

Rename `todbInviation` to `toDBInvitation`
  invitations/postgres/invitations.go
Due: none

Refactor invitation state constants and string conversions
  invitations/state.go
Due: none

feat(workflow): check for generated files
  .github/workflows/check-generated-files.yml
Due: none

fix(errors): Fix nil pointer error in NewSDKError
  pkg/errors/sdk_errors.go
Due: Lint and Test PKG

test: use sdk mocked interface
  bootstrap/api/endpoint_test.go
  bootstrap/events/producer/streams_test.go
  bootstrap/service_test.go
  certs/service_test.go
Due: none

feat(sdk-mock): Add mock functions for SDK testing
  pkg/sdk/go/mocks.go
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

feat(build): Add target for generating mocks
  Makefile
Due: none

feat(mocks): Add copyright notice to mocks.go
  pkg/sdk/go/mocks.go
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

Improve error messages in check-generated-files.yml
  .github/workflows/check-generated-files.yml
  pkg/sdk/go/mocks.go
Due: Lint and Test PKG

fix: update badges
  README.md
Due: none

add compose file for ui
  docker/.env
  docker/docker-compose.yml
Due: none

fix: update badges files
  README.md
Due: none

fix bootstrap url
  docker/.env
Due: none

update image source to use docker hub
  docker/docker-compose.yml
Due: none

add marshalling to retrievedomain response
  auth/api/http/domains/responses.go
Due: none

Refactor errors
  internal/apiutil/errors.go
Due: Lint and Test Internal

Handle ok case error
  auth/api/grpc/client.go
  auth/spicedb/policies.go
  pkg/errors/types.go
Due: Lint and Test PKG

fix(e2e): Add admin role and permission
  tools/e2e/e2e.go
Due: Lint and Test Tools
