Repository absmach/magistrala-old: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Check Generated Protocol Buffer Files:
  jobs:
  - name: Check Generated Protocol Buffer Files
    commands:
    - PROTOC_VERSION=24.3
    - PROTOC_GEN_VERSION=v1.31.0
    - PROTOC_GRPC_VERSION=v1.3.0
    - PROTOC_ZIP=protoc-$PROTOC_VERSION-linux-x86_64.zip
  ...

Lint and Test Users:
  jobs:
  - name: Lint Users
    commands:
    - cd users
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Users
    commands:
    - cd users
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Users:
  jobs:
  - name: Build Users
    commands:
    - make docker_users
  secrets:
  - name: docker_hub

Lint and Test Things:
  jobs:
  - name: Lint Things
    commands:
    - cd things
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test Things
    commands:
    - cd things
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build Things:
  jobs:
  - name: Build Things
    commands:
    - make docker_things
  secrets:
  - name: docker_hub

Lint and Test CoAP:
  jobs:
  - name: Lint CoAP
    commands:
    - cd coap
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test CoAP
    commands:
    - cd coap
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build CoAP:
  jobs:
  - name: Build CoAP
    commands:
    - make docker_coap
  secrets:
  - name: docker_hub

Lint and Test HTTP:
  jobs:
  - name: Lint HTTP
    commands:
    - cd http
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test HTTP
    commands:
    - cd http
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build HTTP:
  jobs:
  - name: Build HTTP
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/http:latest
  secrets:
  - name: docker_hub

Lint and Test MQTT:
  jobs:
  - name: Lint MQTT
    commands:
    - cd mqtt
    - cache restore linter
    - ./bin/golangci-lint run
  - name: Test MQTT
    commands:
    - cd mqtt
    - go test ./... --race -v -coverprofile=coverage.out
    - go tool cover -html=coverage.out -o coverage.html
    - cache restore codecov
    - ./codecov
  ...

Build MQTT:
  jobs:
  - name: Build MQTT
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/mqtt:latest
  secrets:
  - name: docker_hub

Build WS:
  jobs:
  - name: Build WS
    commands:
    - echo $DOCKER_TOKEN | docker login --username "$DOCKER_USERNAME" --password-stdin
    - docker push magistrala/ws:latest
  secrets:
  - name: docker_hub

fix: function naming
  auth/api/http/domains/decode.go
  auth/domains.go
Due: none

remove: debug codes
  auth/service.go
Due: none

fix: golangci-lint errors
  auth/domains.go
Due: none

Refactor auth to use `view` permission instead of `subscribe`
  readers/api/transport.go
Due: Lint and Test Readers

use auth const for checking authorization
  coap/adapter.go
  http/handler.go
  mqtt/handler.go
  ws/adapter.go
  ws/handler.go
Due: none

fix: remove delete status
  auth/domains.go
  auth/service.go
Due: none

fix: remove delete status
  auth/domains.go
Due: none

Add config tests
  pkg/errors/types.go
  provision/config.go
  provision/config_test.go
Due: Lint and Test PKG

Generate event sourcing mocks
  .github/workflows/check-generated-files.yml
  bootstrap/events/producer/streams.go
  bootstrap/events/producer/streams_test.go
  cmd/bootstrap/main.go
  pkg/events/events.go
  pkg/events/mocks/publisher.go
  pkg/events/mocks/subscriber.go
Due: Lint and Test PKG

rename: DStatus to Status
  auth/api/http/domains/decode.go
  auth/api/http/domains/requests.go
  auth/domains.go
  auth/postgres/domains.go
Due: none

check domain status on create and list things and groups
  internal/groups/service.go
  things/service.go
Due: Lint and Test Internal

rename internal function name
  internal/groups/service.go
Due: Lint and Test Internal

fix things test
  things/service_test.go
Due: none

Update docker-compose.yml to expose port 9091 instead of 9090
  docker/docker-compose.yml
Due: none

Refactor "ListGroups" for imporoved access control
  internal/groups/service.go
Due: Lint and Test Internal

Add subject and domain to PolicyReq in Authorize method
  auth/service.go
Due: none

fix mockery version to v2.38.0 in makefile
  Makefile
Due: none

Setup Dependbot
  .github/dependbot.yml
Due: none

Expose timescale on 5433
  docker/addons/timescale-writer/docker-compose.yml
Due: none

Copy Domain from Key to policy requst
  auth/service.go
Due: none

fix channels, things, groups domain authorization
  internal/groups/service.go
  things/service.go
Due: Lint and Test Internal

fix: nats_nats pub messages
  cmd/mqtt/main.go
  docker/docker-compose.yml
  mqtt/handler.go
Due: none

Expand filters to check for test changes
  .github/workflows/check-generated-files.yml
  .github/workflows/tests.yml
Due: none

Fix failing SDK tests by adding authz
  pkg/sdk/go/things_test.go
Due: Lint and Test PKG

Rename pipeline to workflow
  .github/workflows/tests.yml
Due: none

Rename push branch to main
  .github/workflows/swagger-ui.yaml
  .github/workflows/tests.yml
Due: none

feat: add service mocks to users
  .github/workflows/check-generated-files.yml
  users/clients.go
  users/mocks/service.go
Due: none

Add service mock to Things
  .github/workflows/check-generated-files.yml
  readers/api/endpoint_test.go
  things/mocks/auth.go
  things/mocks/service.go
  things/things.go
Due: Lint and Test Readers

Add test cases for provision service
  provision/config.go
  provision/service.go
  provision/service_test.go
Due: none

Add repository tests
  internal/groups/postgres/groups.go
  internal/groups/postgres/groups_test.go
  internal/groups/postgres/setup_test.go
Due: Lint and Test Internal

update senml from mainflux to absmach repo
  cmd/http/main.go
  cmd/mqtt/main.go
  cmd/ws/main.go
  go.mod
  go.sum
  http/api/endpoint_test.go
  http/handler.go
  mqtt/README.md
  mqtt/handler.go
  mqtt/handler_test.go
  pkg/messaging/handler/logging.go
  pkg/messaging/handler/metrics.go
  pkg/messaging/handler/tracing.go
  pkg/sdk/go/message_test.go
  pkg/transformers/senml/transformer.go
  pkg/transformers/senml/transformer_test.go
  twins/api/http/endpoint_states_test.go
  twins/mocks/service.go
  twins/service.go
  twins/service_test.go
  ws/api/endpoint_test.go
  ws/handler.go
Due: Lint and Test PKG

update api documentation for websocket and mqtt
  api/asyncapi/mqtt.yml
  api/asyncapi/websocket.yml
Due: none

Add getIDs function to get ID from an array of groups
  internal/groups/postgres/groups_test.go
Due: Lint and Test Internal

Add test function api package
  internal/api/common_test.go
Due: Lint and Test Internal

Add assertion to check if the error message is correctly encoded
  internal/api/common_test.go
Due: Lint and Test Internal

add domain freeze endpoint
  auth/api/http/domains/decode.go
  auth/api/http/domains/endpoint.go
  auth/api/http/domains/requests.go
  auth/api/http/domains/responses.go
  auth/api/http/domains/transport.go
Due: none

fix: naming
  auth/api/http/domains/transport.go
Due: none

Refactor provision API with tests
  .github/workflows/check-generated-files.yml
  internal/api/common.go
  provision/api/endpoint.go
  provision/api/endpoint_test.go
  provision/api/requests_test.go
  provision/api/responses.go
  provision/api/transport.go
  provision/mocks/service.go
  provision/service.go
Due: Lint and Test Internal

Add test for auth package
  .github/workflows/tests.yml
  pkg/auth/client.go
  pkg/auth/client_test.go
  pkg/auth/connect.go
  pkg/auth/connect_test.go
Due: Lint and Test PKG

Refactor error handling and SDK error testing
  cmd/mqtt/main.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
  pkg/errors/sdk_errors.go
  pkg/errors/sdk_errors_test.go
Due: Lint and Test PKG

Path conditions:
  Check Generated Protocol Buffer Files: any of: .semaphore/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: any of: .semaphore/users, .semaphore/cmd/users, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Users: any of: .semaphore/users, .semaphore/cmd/users
  Lint and Test Things: any of: .semaphore/things, .semaphore/cmd/things, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Things: any of: .semaphore/things, .semaphore/cmd/things
  Lint and Test CoAP: any of: .semaphore/coap, .semaphore/cmd/coap, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build CoAP: any of: .semaphore/coap, .semaphore/cmd/coap
  Lint and Test HTTP: any of: .semaphore/http, .semaphore/cmd/http, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build HTTP: any of: .semaphore/http, .semaphore/cmd/http
  Lint and Test MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build MQTT: any of: .semaphore/mqtt, .semaphore/cmd/mqtt
  Lint and Test WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build WS: any of: .semaphore/ws, .semaphore/cmd/ws, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap, .semaphore/things/policies/postgres/policies.go, .semaphore/things/policies/api/grpc/client.go
  Build Bootstrap: any of: .semaphore/bootstrap, .semaphore/cmd/bootstrap
  Lint and Test Certs: any of: .semaphore/certs, .semaphore/cmd/certs, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Certs: any of: .semaphore/certs, .semaphore/cmd/certs
  Lint and Test Provision: any of: .semaphore/provision, .semaphore/cmd/provision
  Build Provision: any of: .semaphore/provision, .semaphore/cmd/provision, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Twins: any of: .semaphore/twins, .semaphore/cmd/twins, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Twins: any of: .semaphore/twins, .semaphore/cmd/twins
  Lint and Test Readers: any of: readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Readers: any of: .semaphore/readers, .semaphore/cmd/cassandra-reader, .semaphore/cmd/influxdb-reader, .semaphore/cmd/mongodb-reader, .semaphore/cmd/postgres-reader, .semaphore/cmd/timescale-reader, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build Consumers: any of: .semaphore/consumers, .semaphore/cmd/cassandra-writer, .semaphore/cmd/influxdb-writer, .semaphore/cmd/mongodb-writer, .semaphore/cmd/postgres-writer, .semaphore/cmd/timescale-writer, .semaphore/cmd/smpp-notifier, .semaphore/cmd/smtp-notifier, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Lint and Test CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Build CLI: any of: .semaphore/cli, .semaphore/cmd/cli
  Lint and Test LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Build LoRa: any of: .semaphore/lora, .semaphore/cmd/lora
  Lint and Test OPC-UA: any of: opcua, .semaphore/cmd/opcua, .semaphore/things/api/grpc, .semaphore/auth/service.go, .semaphore/auth/api/grpc/client.go
  Build OPC-UA: any of: opcua, .semaphore/cmd/opcua
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools
